<a href="<%= redirectPath.SETTINGS%>" class="text-dark"
  ><i class="fas fa-2x fa-arrow-alt-circle-left"></i
></a>

<p class="login-box-msg">Đổi mật khẩu</p>
<%- msgErr.length ? `
<p class="alert alert-danger">${msgErr}</p>
` : ""%> <%- msgSuccess.length ? `
<p class="alert alert-success">${msgSuccess}</p>
` : ""%>
<form action="" method="post">
  <div class="mb-3">
    <label for=""></label>
    <input
      type="password"
      name="oldPassword"
      class="form-control"
      placeholder="Nhập mật khẩu hiện tại..."
    />
  </div>
  <div class="mb-3">
    <label for=""></label>
    <input
      type="password"
      name="newPassword"
      class="form-control"
      placeholder="Nhập mật khẩu mới..."
    />
  </div>
  <div class="mb-3">
    <label for=""></label>
    <input
      type="password"
      name="rePassword"
      class="form-control"
      placeholder="Nhập lại mật khẩu mới..."
    />
  </div>
  <div class="d-grid d-flex justify-content-center">
    <button class="btn btn-primary" type="submit">Thay đổi và lưu</button>
  </div>
</form>
