<p class="login-box-msg">SIGN IN</p>
<%- msgErr.length ? `
<p class="alert alert-danger">${msgErr}</p>
` : ""%> <%- msgSuccess.length ? `
<p class="alert alert-success">${msgSuccess}</p>
` : ""%>
<form action="" method="post">
  <div class="mb-3">
    <label for="oldPassword"></label>
    <input
      type="password"
      name="oldPassword"
      class="form-control"
      placeholder="Nhập mật khẩu hiện tại"
    />
  </div>
  <div class="mb-3">
    <label for="newPassword"></label>
    <input
      type="password"
      name="newPassword"
      class="form-control"
      placeholder="Nhập mật khẩu hiện tại"
    />
  </div>
  <div class="mb-3">
    <label for="newPassword"></label>
    <input
      type="password"
      name="rePassword"
      class="form-control"
      placeholder="Nhập mật khẩu hiện tại"
    />
  </div>
  <div class="d-grid d-flex justify-content-center">
    <button class="btn btn-primary" type="submit">Thay đổi và lưu</button>
  </div>
</form>
