<div class="card-body">
  <div class="row">
    <div class="col-5 col-sm-3">
      <div
        class="nav flex-column nav-tabs h-100"
        id="vert-tabs-tab"
        role="tablist"
        aria-orientation="vertical"
      >
        <a
          class="nav-link active"
          id="vert-tabs-home-tab"
          data-toggle="pill"
          href="#vert-tabs-home"
          role="tab"
          aria-controls="vert-tabs-home"
          aria-selected="true"
          >Thông tin người dùng</a
        >
        <a
          class="nav-link"
          id="vert-tabs-profile-tab"
          data-toggle="pill"
          href="#vert-tabs-profile"
          role="tab"
          aria-controls="vert-tabs-profile"
          aria-selected="false"
          >Bảo mật và đăng nhập</a
        >
        <a
          class="nav-link"
          id="vert-tabs-messages-tab"
          data-toggle="pill"
          href="#vert-tabs-messages"
          role="tab"
          aria-controls="vert-tabs-messages"
          aria-selected="false"
          >Mật khẩu</a
        >
      </div>
    </div>
    <div class="col-7 col-sm-9">
      <div class="tab-content" id="vert-tabs-tabContent">
        <div
          class="tab-pane text-left fade show active"
          id="vert-tabs-home"
          role="tabpanel"
          aria-labelledby="vert-tabs-home-tab"
        >
          thông tin ng dùng
        </div>
        <div
          class="tab-pane fade"
          id="vert-tabs-profile"
          role="tabpanel"
          aria-labelledby="vert-tabs-profile-tab"
        >
          <div class="mb-3">
            <i class="fab fa-facebook"></i>
            Liên kết facebook <% if (socials.includes("facebook")) {%>
            <a class="btn btn-dark ml-5" href="/auth/disableFacebook">Tắt</a>
            <% } else { %>

            <a class="btn btn-primary ml-5" href="/auth/facebook/redirect"
              >Bật
            </a>
            <% } %>
          </div>
          <div class="mb-3">
            <i class="fab fa-google"></i>
            Liên kết google <% if (socials.includes("google")) {%>
            <a class="btn btn-dark ml-5" href="/auth/disableGoogle">Tắt</a>
            <% } else { %>

            <a class="btn btn-primary ml-5" href="/auth/google/redirect"
              >Bật
            </a>
            <% } %>
          </div>

          <div class="mb-3">
            <i class="fab fa-github"></i>
            Liên kết github <% if (socials.includes("github")) {%>
            <a class="btn btn-dark ml-5" href="/auth/disableGithub">Tắt</a>
            <% } else { %>

            <a class="btn btn-primary ml-5" href="/auth/github/redirect"
              >Bật
            </a>
            <% } %>
          </div>
        </div>
        <div
          class="tab-pane fade"
          id="vert-tabs-messages"
          role="tabpanel"
          aria-labelledby="vert-tabs-messages-tab"
        >
          mat khau
        </div>
      </div>
    </div>
  </div>
</div>
