<p class="login-box-msg">SIGN IN</p>
<%- msgErr.length ? `
<p class="alert alert-danger">${msgErr}</p>
` : ""%> <%- msgSuccess.length ? `
<p class="alert alert-success">${msgSuccess}</p>
` : ""%>
<p class="login-box-msg">
  Bạn quên mật khẩu? Nhập email của bạn để lấy lại mật khẩu
</p>

<form action="" method="post">
  <div class="input-group mb-3">
    <input
      name="email"
      type="email"
      class="form-control"
      placeholder="Email..."
    />
    <div class="input-group-append">
      <div class="input-group-text">
        <span class="fas fa-envelope"></span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <button type="submit" class="btn btn-primary btn-block">
        Yêu cầu mật khẩu mới
      </button>
    </div>
    <!-- /.col -->
  </div>
</form>

<p class="mt-3 mb-1">
  <a href="/auth/login">Đăng nhập</a>
</p>
